#My files

Data/Proprietary/*Use.xlsx

# Jupyter Notebook
.ipynb_checkpoints


# virtualenv
.venv
venv/
ENV/

# Rworkspace intermediates
Rworkspace/.Rhistory
Rworkspace/.Rproj.user/*
R/.Rproj*

# Scratch
scratch/*


